@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&family=Outfit:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@import '../node_modules/nsg-ui/dist/theme.css';
